<h1> View all your Competitions here: </h1>


<% @competitions.each do |comp|%>
  <div>
    <h3><%= link_to comp.title, competition_path(comp) %> </h3>
    <p>Category: <%= comp.category %> |
    Description: <%= comp.description %> </p>
  </div><br>
<% end %>