<h1>  <%=@competition.title%> </h1>

<p><strong><%=@competition.category%> </p>
<p><strong><%=@competition.description%> </p>



<%= link_to "Edit Competition", edit_competition_path(@competition) %>




